@{
    Layout = "_LayoutNoGlass";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center">
    <div class="row mt-5">
        <div class="col-12 col-md-6 order-last order-md-first">
            <h1 class="display-5 fw-bold">Personal AddressBook</h1>
            <p class="mt-1 fw-bold">
                A simple personal addressbook used to keep all your contacts in one easy to use
                and secure location!
            </p>
        </div>
        <div class="col-12 col-md-6 order-first order-md-last">
            <img src="Img/Plaeholder-addressbook.png" class="img-fluid" />
        </div>
    </div>
</div>
